.cv
    %h2 MY HISTORY
    .linecenter
    .cv_grid
        - data.cv.each do |cv|
            .cv_card{id:"#{cv.id}"}
                .hover.effect-9
                    .hover-image{:alt => "", :style => "background-image: url('#{cv[:image]}')"}
                        %h2.hover-title= cv[:description]
                        .hover-caption
                            %h4= cv[:role]
                            %p= cv[:years]