.wrapper
    .nav
        = partial 'partials/navigation'
    .gridmarginwrapper
        .intro.introsection
            .logo
                .box
                    %img{:src => "images/rupert_logo.png"}
                .tag
                    %h3 CREATE / SOLVE / INNOVATE
                .aboutme
                    = partial 'partials/aboutme'
            .face
                %img{:src => "images/rupert_face.jpg"}

        .history.historysection
            = partial 'partials/cv'

        .work.worksection
            = partial 'partials/projects'

        .contact.contactsection
            = partial 'partials/contact'