= partial 'partials/navigation'

.wrapper
    .intro
        .logo
            .box
                %img{:src => "images/rupert_logo.png"}
            .tag
                %h3 CREATE / SOLVE / INNOVATE
        .face
            %img{:src => "images/rupert_face.jpg"}

    .aboutme
        = partial 'partials/aboutme'

    .summaryintro
        %h1 Rupert is a digital enthusiast currently living in Stockholm

    .summary
        = partial 'partials/summary'

    .history
        = partial 'partials/cv'

    .work
        = partial 'partials/projects'

    .contact
        = partial 'partials/contact'